{% set assetHash = global.random() %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="icon" type="image/png" href="{{ '/assets/favicon.png' | url }}"/>
    {% include "partials/meta-info.njk" %}

    <link rel="stylesheet" href="{{ '/css/global.css' | url }}"/>

    {# Add facility for pages to declare an array of stylesheet paths #}
    {% if pageStylesheets %}
      {% for item in pageStylesheets %}
        <link rel="stylesheet" media="print" href="{{ item }}?{{ assetHash }}" onload="this.media='all'"/>
      {% endfor %}
    {% endif %}

    <script defer data-domain="frajda.studio" src="https://plausible.io/js/script.js"></script>
  </head>
  <body>
    {% svgsprite %}

    {% include "partials/site-head.njk" %}

    <main tabindex="-1" id="main-content">
      {% block content %}{% endblock %}
    </main>

    <script>

      const appHeight = () => {
        const doc = document.documentElement;

        document.querySelector('.hero__inner').style.minHeight = `${window.innerHeight}px`;
      }

      window.addEventListener("resize", appHeight)

      window.addEventListener("DOMContentLoaded", () => {
        appHeight();
      });

      appHeight()
    </script>

    <script>
      // Set the options globally
      // to make LazyLoad self-initialize
      window.lazyLoadOptions = {};
    </script>

    <script async src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>

    {# mobile navigation script #}
    <script async>
      const $buttonClose = document.querySelector('[data-nav-close]');
      const $buttonOpen = document.querySelector('[data-nav-open]');
      const $navigation = document.querySelector('[data-nav]');
      const $navigationLinksList = document.querySelector('[data-nav-links]');
      const $brand = document.querySelector('[data-brand]');

      const closeNavigation = () => {
        if (!$navigation) {
          return;
        }

        $buttonOpen
          .classList
          .remove('-is-hidden');
        $buttonClose
          .classList
          .add('-is-hidden');
        $buttonClose
          .classList
          .remove('-is-reversed'); // color animation

        $navigation
          .classList
          .remove('-is-active');
        document.body.style.overflow = 'auto';
      }
      const openNavigation = () => {
        if (!$navigation) {
          return;
        }

        $buttonClose
          .classList
          .remove('-is-hidden');
        $buttonOpen
          .classList
          .add('-is-hidden');
        $navigation
          .classList
          .add('-is-active');
        document.body.style.overflow = 'hidden';

        setTimeout(() => {
          $buttonClose
            .classList
            .add('-is-reversed'); // color animation
        }, 400);
      }
      $buttonOpen.addEventListener('click', openNavigation);
      $buttonClose.addEventListener('click', closeNavigation);
      $navigationLinksList.addEventListener('click', closeNavigation);
    </script>

    {# accordion script #}
    <script async>
      const $accordionTriggers = document.querySelectorAll('[data-accordion-trigger]');
      const $accordionPanels = document.querySelectorAll('[data-accordion-panel]');

      onTriggerClick = (ev) => {
        const isDesktop = window
          .matchMedia('(min-width: 1024px)')
          .matches;
        const controlAttr = ev
          .target
          .getAttribute('aria-controls');
        const $accordionPanel = document.querySelector(`#${controlAttr}`);

        if (isDesktop) {
          $accordionTriggers.forEach(t => t.classList.remove('-is-active'));
          $accordionPanels.forEach(t => t.classList.remove('-is-active'));
          ev
            .target
            .classList
            .add('-is-active');
          $accordionPanel
            .classList
            .add('-is-active');
        } else {
          ev
            .target
            .classList
            .toggle('-is-active');
          $accordionPanel
            .classList
            .toggle('-is-active');

          $accordionPanel
            .parentNode
            .scrollIntoView({behavior: 'smooth', block: 'start', inline: 'nearest'});
        }
      }

      for (let trigger of $accordionTriggers) {
        trigger.addEventListener('click', onTriggerClick)
      }
    </script>

    {# date script #}
    <script defer>
      const $dateContainer = document.querySelector('[data-current-time]');

      const displayTime = () => {
        const time = new Date();
        const hours = time.getHours();
        const formattedHours = hours % 12 || 12; // AM / PM
        const minutes = String(time.getMinutes()).padStart(2, '0');
        const ampm = hours >= 12
          ? 'pm'
          : 'am';
        const weekday = time.toLocaleString('en-US', {weekday: 'long'});

        $dateContainer.innerHTML = formattedHours + '<span class="footer__seconds">:</span>' + minutes + ' ' + ampm + ', ' + weekday;
      }

      const interval = setInterval(() => {
        displayTime();
      }, 10000);

      displayTime();
    </script>

    {# scroll observer #}
    <script defer>

      function scrollTrigger(selector, options = {}) {
        let els = document.querySelectorAll(selector)
        els = Array.from(els)
        els.forEach(el => {

          addObserver(el, options)
        })
      }

      function addObserver(el, options) {
        let observer = new IntersectionObserver((entries, observer) => {
          entries.forEach(entry => {
            if (entry.isIntersecting) {
              entry
                .target
                .classList
                .add('active')
              observer.unobserve(entry.target)
            }
          })
        }, options)
        observer.observe(el)
      }

      scrollTrigger('.fade-in', {threshold: .3})
    </script>

    {# lottie #}
    <script>
      document
        .body
        .classList
        .add('js-enabled');

      function include(filename) {
        var head = document.getElementsByTagName('head')[0];

        var script = document.createElement('script');
        script.src = filename;
        script.type = 'text/javascript';

        head.appendChild(script)
      }

      const isDesktop = window
        .matchMedia('(min-width: 1024px)')
        .matches;

      if (isDesktop) {
        include('https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js');

        document
          .body
          .classList
          .add('lottie');
      }
    </script>

    {# cursor animation #}
    {# <script defer>
      const $circle = document.querySelector('.cursor-dot');

      const hasCursor = window
        .matchMedia('(hover: hover)')
        .matches;

      if (hasCursor) {
        include('https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js');

        document
          .body
          .addEventListener("mousemove", (e) => {

            let mapper = gsap
              .utils
              .mapRange(0, 30, 0, 1);
            let speed = Math.abs(e.movementX) + Math.abs(e.movementY)
            let mappedSpeed = mapper(speed);
            let clamp = gsap
              .utils
              .clamp(0, 1)

            gsap.to($circle, 0.3, {
              x: e.clientX + 32,
              y: e.clientY + 32,
              scale: clamp(mappedSpeed) + .5,
              ease: 'in-out'
            });
          });

      }
    </script> #}
  </body>
</html>
