{% extends "layouts/base.njk" %}

{% block content %}
  <div class="hero">
    <div class="container">
      <div class="hero__inner">
        <h1 class="hero__title">
          <span>A design & development </span>
          <span>studio crafting stunning</span>
          <span>front-end solutions.</span>
        </h1>
        <p class="hero__description hero__description--mobile">
          We help companies connect with users through
          outstanding design and scalable front-end development.
        </p>
        <div class="hero__content">
          <div class="hero__image-wrapper">
            <img class="hero__image" src="{{ '/assets/hero.svg' | url }}" alt=""/>
          </div>
          <p class="hero__description hero__description--desktop">
          We help companies connect with users through    
          outstanding design and scalable front-end development.
        </p>
        </div>
      </div>
    </div>
  </div>
  <section class="section" id="services">
    <div class="container">
      <h2 class="section__title">{{ services.title }}</h2>
      
      <ul class="services-list">
        {% for item in services.items %}
          <li class="services-list__item">
            <h3 class="services-list__item-title">
              <button
                class="services-list__item-trigger services-list__item-trigger--{{item.color}}
                {% if loop.index0 === 0 %}-is-active{% endif %}"
                data-accordion-trigger
                aria-controls="{{item.slug}}"
              >
                  {{ item.name }}
              </button>
            </h3>
            <div class="services-list__item-body {% if loop.index0 === 0 %}-is-active{% endif %}" id="{{item.slug}}" data-accordion-panel>
               <ul class="services-list__item-tags tags-list">
                 {% for tag in item.tags %}
                    <li class="tags-list__item tag">
                      {{ tag }}
                    </li>
                  {% endfor %}
              </ul>
              <p class="services-list__item-description">{{ item.description }}</p>
            </div>  
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
    <section class="section" id="work">
    <div class="container">
      <h2 class="section__title">{{ projects.title }}</h2>
      <ul class="projects-list">
        {% for item in projects.items %}
          <li class="projects-list__item project">
            <div class="project__col">
              <h3 class="project__title">
                {{ item.name }}
              </h3>
              <p class="project__client">{{ item.client }}</p>
              <div class="project__tags">
                <ul class="tags-list">
                  {% for tag in item.tags %}
                      <li class="tags-list__item tag">{{ tag }}</li>
                    {% endfor %}
                </ul>
              </div>
            </div>
            <div class="project__col">
              <p class="project__description">{{ item.description }}</p>
              <a class="project__link" href="{{item.live-href}}" target="_blank" rel="nofollow">See live</a>
            </div>
            <div class="project__images">
                {% for image in item.images %}
                  <div class="project__image-wrapper">
                    <img class="project__image lazy" data-src="{{ image.url }}" alt="{{ image.alt }}" />
                  </div>
                {% endfor %}
            </div>  
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <h2 class="visually-hidden">{{ testimonials.title }}</h2>
      <div class="glide">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            {% for testimonial in testimonials.items %}
            <li class="glide__slide">
              <blockquote class="testimonial">
                <p class="testimonial__quote"> 
                "{{ testimonial.quote }}"
                </p>
                <footer class="testimonial__footer author">
                  {% if testimonial.author.image %}
                  <div class="author__image-wrapper">
                    <img class="author__image lazy" data-src="{{testimonial.author.image}}"  alt="" />
                  </div>
                  {% endif %}
                  <div>
                    <cite class="author__name weight-medium">{{testimonial.author.name}}</cite>
                    <cite class="author__description">{{testimonial.author.role}}</cite>
                  </div>
                </footer>
              </blockquote>
            </li>
            {% endfor %}
          </ul>
        </div>
        {# <div class="testimonials-section__navigation glide__arrows" data-glide-el="controls">
          <button class="glide__arrow glide__arrow--left" data-glide-dir="<" aria-label="Go backwards">
            <
          </button>
          <button class="glide__arrow glide__arrow--right" data-glide-dir=">" aria-label="Go forwards">
            >
          </button>
        </div> #}
      </div>
    </div>
  </section>
  <section class="about" id="about">
    <h2 class="visually-hidden">{{ about.tile }}</h2>
    <div class="about__intro section bg-dark color-light">
      <div class="container">
        <p class="about__description">{{ about.description.lead }}</p>
        <p class="about__description">{{ about.description.body }}</p>
        <p class="about__description about__description--small">{{ about.description.small }}</p>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="about__team">
          <h3 class="about__team-title">{{ about.subtitle }}</h3>
          <div class="about__team-list">
            {% for person in about.team %}
              <div class="team-member">
                <div>
                  <h4 class="team-member__name weight-medium">{{ person.name }}</h4>
                  <p class="team-member__role">{{ person.role }}</p>
                  <ul class="team-member__links">
                    {% for link in person.links %}
                      <li class="team-member__link-wrapper">
                        <a href="{{ link.href }}" target="_blank">{{ link.name }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
                <p class="team-member__description">{{ person.description }}</p>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer section bg-light-glare" id="contact">
    <h2 class="visually-hidden">Contact us</h2>
    <div class="container">
      <div class="footer__inner">
          <img class="footer__logo" src="{{ '/assets/logo.svg' | url }}" alt="Frajda Studio logotype">
          <div class="footer__time">
            <p class="footer__small">Based in Warsaw,<br />working worldwide.</p>
            <p class="footer__small">Current time <time data-current-time></time></p>
          </div>
          <div class="footer__contact">
            <p class="footer__major">We are available for new projects, let’s have a chat.</p>
            <a class="footer__address" href="mailto:hello@frajda.studio">hello@frajda.studio</a>
          </div>
          <ul class="footer__links">
            {% for link in navigation.socials %}
              <li class="footer__link-wrapper">
                <a href="{{ link.href }}" target="_blank">{{ link.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
    </div>
  </footer>
{% endblock %}

