{% extends "layouts/base.njk" %}

{% block content %}
  <div class="hero">
    <div class="container">
      <div class="hero__inner">
        <h1 class="hero__title">
          A design & development studio crafting stunning front-end solutions.
        </h1>
        <div class="hero__content">
          <p class="hero__description">
            <span class="hero__description-line">We help companies connect with users</span>
            <span class="hero__description-line hero__description-line--indent">through outstanding design</span>
            <span class="hero__description-line">and&nbsp;scalable front-end development.</span>
          </p>
          <div class="hero__shapes-wrapper">
            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 719 247">
              <path d="M309 133a4 4 0 0 1 4-4h132a4 4 0 0 1 4 4v112H313a4 4 0 0 1-4-4V133Z" fill="#fff"/>
              <rect x="129" y="4" width="192" height="241" rx="4" fill="#1C1A1A"/>
              <mask id="a" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="129" y="4" width="192" height="241">
                <path d="M129 8a4 4 0 0 1 4-4h184a4 4 0 0 1 4 4v237H133a4 4 0 0 1-4-4V8Z" fill="#0A0101"/></mask>
              <g opacity=".4" stroke="#fff" mask="url(#a)"><path d="M161-36.5v302M193-36.5v302M225-36.5v302M289-36.5v302M257-36.5v302"/></g>
              <circle data-hero-shape="circle" class="shape-circle" cx="644" cy="173" r="72" fill="#D1570E"/>
              <path data-hero-shape="half-circle" class="shape-half-circle" d="M10.312 61.906a1.974 1.974 0 0 1 2.417-1.395l270.51 72.483a1.974 1.974 0 0 1 1.396 2.417l-1.56 5.821c-20.298 75.752-98.161 120.707-173.914 100.409C33.409 221.343-11.546 143.48 8.752 67.727l1.56-5.82Z" fill="#464A31"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main">
    <section class="section">
      <div class="section__anchor" id="services" data-anchor></div>
      <div class="container">
        <h2 class="section__title fade-in">{{ services.title }}</h2>

        <ul class="services-list fade-in">
          {% for item in services.items %}
            <li class="services-list__item">
              <h3 class="services-list__item-title">
                <button
                class="services-list__item-trigger services-list__item-trigger--{{item.color}}
                {% if loop.index0 === 0 %}-is-active{% endif %}"
                data-accordion-trigger
                aria-controls="{{item.slug}}"
              >
                  {{ item.name }}
                </button>
              </h3>
              <div class="services-list__item-body {% if loop.index0 === 0 %}-is-active{% endif %}" id="{{item.slug}}" data-accordion-panel>
                <ul class="services-list__item-tags tags-list">
                  {% for tag in item.tags %}
                    <li class="tags-list__item tag">
                      {{ tag }}
                    </li>
                  {% endfor %}
                </ul>
                <p class="services-list__item-description">{{ item.description }}</p>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </section>
    <section class="section">
      <div class="section__anchor" id="work" data-anchor></div>
      <div class="container">
        <h2 class="section__title fade-in">{{ projects.title }}</h2>
        <div class="projects-list">
          {% for item in projects.items %}
            <article class="projects-list__item project">
              <div class="project__col fade-in">
                <h3 class="project__title">
                  {{ item.name }}
                </h3>
                <p class="project__client">{{ item.client }}</p>
                <div class="project__tags">
                  <ul class="tags-list">
                    {% for tag in item.tags %}
                      <li class="tags-list__item tag">{{ tag }}</li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
              <div class="project__col fade-in">
                <p class="project__description">{{ item.description }}</p>
                {% if item.live %}
                  <a class="project__link" href="{{item.live}}" target="_blank" rel="nofollow">
                See live
                <i class="project__link-icon">{% svg "new-tab" %}</i>
                  </a>
                {% else %}
                  <p class="project__link">
                Case study coming soon
                <i class="project__link-icon">{% svg "timer" %}</i>
                  </p>
                {% endif %}
              </div>
              <div class="project__images">
                {% for asset in item.images %}
                  <div class="project__image-wrapper">
                    {% if asset.url %}
                      <img class="project__image lazy fade-in" data-src="{{ asset.url | url }}" alt="{{ asset.alt }}"/>
                    {% endif %}
                    {% if asset.videoUrl %}
                      <video class="project__image lazy fade-in" data-src="{{ asset.videoUrl| url }}" autoplay loop muted playsinline>
                        <source data-src="{{ asset.videoUrl| url }}" type="video/mp4"/>
                      Sorry, your browser doesn't support embedded videos.
                    </video>
                    {% endif %}
                  </div>
                {% endfor %}
              </div>
              {% if item.testimonial %}
                <blockquote class="project__testimonial testimonial">
                  <p class="testimonial__quote fade-in"> 
                  “{{ item.testimonial.quote }}”
                </p>
                  <footer class="testimonial__footer author fade-in">
                    {% if item.testimonial.author.image %}
                      <div class="author__image-wrapper">
                        <img class="author__image lazy" data-src="{{ item.testimonial.author.image | url }}" alt=""/>
                      </div>
                    {% endif %}
                    <div>
                      <cite class="author__name weight-medium">
                        {{ item.testimonial.author.name }}
                      </cite>
                      <cite class="author__description">
                        {{ item.testimonial.author.role }}
                      </cite>
                    </div>
                  </footer>
                </blockquote>
              {% endif %}
            </article>
          {% endfor %}
        </div>
      </div>
    </section>
    <section class="about">
      <h2 class="visually-hidden">{{ about.tile }}</h2>
      <div class="about__intro section bg-dark color-light">
        <div class="section__anchor" id="about" data-anchor></div>
        <div class="container">
          <p class="about__description fade-in">{{ about.description.lead }}</p>
          <p class="about__description fade-in">{{ about.description.body }}</p>
          <p class="about__description about__description--small fade-in">
            <span class="about__description-line">{{ about.description.small.line1 }}</span>
            <span class="about__description-line about__description-line--indent">{{ about.description.small.line2 }}</span>
            <span class="about__description-line">{{ about.description.small.line3 }}</span>
          </p>
        </div>
      </div>
      <div class="section">
        <div class="container">
          <div class="about__team">
            <div class="about__team-header">
              <h3 class="about__team-title fade-in">{{ about.subtitle }}</h3>
            </div>
            <div class="about__team-list">
              {% for person in about.team %}
                <div class="team-member fade-in">
                  <div>
                    <h4 class="team-member__name weight-medium">{{ person.name }}</h4>
                    <p class="team-member__role">{{ person.role }}</p>
                    <ul class="team-member__links">
                      {% for link in person.links %}
                        <li class="team-member__link-wrapper">
                          <a href="{{ link.href }}" target="_blank">{{ link.name }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                  <p class="team-member__description">{{ person.description }}</p>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <footer class="footer section bg-light-glare">
    <div class="section__anchor" id="contact" data-anchor></div>
    <h2 class="visually-hidden">Contact us</h2>
    <div class="container">
      <div class="footer__inner">
        <div class="footer__logo">
          {% svg "logo" %}
        </div>
        <div class="footer__time">
          <p class="footer__small">Based in Warsaw,<span class="footer__small-indent">working worldwide.</span></p>
          <p class="footer__small">Current time <span data-current-time></span></p>
        </div>
        <div class="footer__contact">
          <p class="footer__major">We are available for new projects, let’s have a chat.</p>
          <a class="footer__address" href="mailto:hello@frajda.studio">hello@frajda.studio</a>
          <video class="footer__surprise lazy" data-src="/assets/footer/contact.mp4" autoplay loop muted playsinline>
            <source data-src="{{ asset.videoUrl| url }}" type="video/mp4"/>
          </video>
        </div>
        <ul class="footer__links">
          {% for link in navigation.socials %}
            <li class="footer__link-wrapper">
              <a href="{{ link.href }}" target="_blank">{{ link.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </footer>

    {% endblock %}
