.about {
    &__description {
        max-width: 30ch;
        margin-bottom: 1em;
        font-size: $font-size-h-2;
        line-height: 1.25;
        letter-spacing: -0.01em;

        &--small {
            margin: 4em 0 0 auto;
            width: 25ch;
            font-size: clamp(.75rem, 3vw, .875rem);
            text-transform: uppercase;
        }
    }

    &__team-title {
        margin-bottom: 1.5em;
        font-size: $font-size-h-2;
    }

    @include media-query('lg') {
        &__intro {
            position: relative;
            overflow: hidden;

            &::after,
            &::before {
                content: "";
                position: absolute;
                right: 0;
                top: 0;
                height: 100%;
                aspect-ratio: 1/1;
                border: 1px solid #A5A5A5;
                border-radius: 50%;
                opacity: 0.4;
            }

            &::before {
                transform: translateX(10%);
            }

            &::after {
                transform: translateX(60%);
            }
        }

        &__team {
            display: grid;
            grid-template-columns: 1fr 2fr;
            gap: 1.5rem;

        }
    }
}