.button {
    display: inline-flex;
    padding: .75rem 1.5rem;
    gap: .5rem;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: get-color(dark);
    color: get-color(light);
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.5;

    &__icon {
        display: block;
        width: 1em;
        height: 1.5em;
        transition: .25s ease-in-out;
        transform-origin: center;
    }

    &:hover {
        .button__icon {
            transform: rotate(45deg);
        }
    }
}
 