.glide {
    position: relative;

    &__navigation {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: clamp(3rem, 6vw, 4.5rem);

        @include media-query('lg') {
            max-width: 845px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__pagination {
        font-size: 1.25rem;
    }

    &__pagination-number {
        display: inline-block;
        width: .666em;
    }

    &__arrow {
        width: 2.5rem;
        height: 2.5rem;
        padding: .25rem;
        border-radius: 50%;
        border: 1px solid get-color("light-shade");
        transition: .3s ease;

        &--right {
            transform: scaleX(-1);
            margin-left: .33rem;
        }

        &--disabled {
            color: get-color("light-shade");
            border-color: currentColor;
            opacity: .5;
            pointer-events: none;
            cursor: auto;
            outline: none !important;
        }

        &:hover,
        &:focus {
            border-color: currentColor;
            outline-color: currentColor;
        }
    }
}
