.project {
    &__title {
        font-size: $font-size-h-3;
    }

    &__client {
        font-size: 16px;
        color: #878787;
    }

    &__tags {
        margin: 2rem 0 1.5rem;
    }

    &__link {
        display: inline-flex;
        align-items: center;
        margin: 2.5rem 0 0;
        color: inherit;
    }

    &__link-icon {
        display: inline-block;
        width: 1em;
        height: 1em;
        margin-left: .25em;
        line-height: 0;
    }


    &__images {
        display: grid;
        grid-auto-columns: 1fr;
        gap: .5rem;
        margin: 2.5rem max(-6vw, -5rem) 0;
        line-height: 0;
    }

    &__image-wrapper {
        width: 100%;
        overflow: hidden;
    }

    &__image {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        object-position: center;    
    }

    &__testimonial {
        padding: 2em 0 0;
    }

    // video black edges fix
    video {
        width: 102%;
        margin-left: -1%;
    }

    @include media-query('md') {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &__col {
            width: 45%;
        }

        &__images {
            display: flex;
            gap: 1.5rem;
            margin: 3.5rem 0 0;
        }

        &__image-wrapper {
            border-radius: 1.25rem;
        }

        &__image {
            aspect-ratio: auto;
            flex-basis: 0;
            flex-grow: 0;
            flex-shrink: 0;
        }
    }
}
