.section {
    position: relative;
    padding: clamp(2.5rem, 10vw, 6rem) 0;

    &--small-padding-top {
        padding-top: 1.5rem;
    }
    
    &__title {
        max-width: 12ch;
        margin: 0 0 clamp(2rem, 8vw, 3.5rem);
        font-size: $font-size-h-2;
    }

    &__anchor {
        position: absolute;
        left: 0;
        top: 0;
    }
}