$decor-width: .666em;

@keyframes scaleIn {
    to {
        transform: scale(1);
    }
}


.services-list {
    padding: 0;
    margin: 0;
    list-style-type: none;

    &__item {
        padding: 1.2em 0;
        border-bottom: 1px solid #D3D3D3;
        font-size: $font-size-h-3;

        &:first-of-type {
            padding-top: 0;
        }
    }

    &__item-title {
        font-size: 1em;
        overflow: hidden;
   
    }

    &__item-body {
        max-height: 0;
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        transition: .3s ease-in-out;
        font-size: $font-size-body-m-l;

        &.-is-active {
            max-height: 50rem;
            opacity: 1;
            visibility: visible;
        }
    }

    &__item-trigger {
        display: flex;
        width: 100%;
        text-align: left;
        color:  #878787;
        transform: translateX(-#{$decor-width * 2});
        transition: .3s cubic-bezier(0.45, 0, 0.55, 1);

        &::before {
            content: "";
            width: $decor-width;
            height: $decor-width;
            margin-right: $decor-width;
            margin-top: .25em;
            border-radius: 50%;
            background: currentColor;
            flex-shrink: 0;
            transform: scale(0);
        }

        &:focus {
            outline: none;
        }

        &.-is-active {
            color: #1C1A1A;
            transform: translateX(0);

            &::before {
                animation: scaleIn .3s .15s forwards;
            }
        }

        &--gray {
            &:before {
                background: #878787;
            }
        }

        &--orange {
            &:before {
                background: #D1570E;
            }
        }

        &--black {
            &:before {
                background: #1C1A1A;
            }
        }

        &--green {
            &:before {
                background: #464A31;
            }
        }
    }

    &__item-description,
    &__item-tags {
        padding-top: 1.5rem;
    }

    @include media-query('lg') {
        position: relative;
        width: 100%;

        &__item {
            width: 45%;
        }

        &__item-body {
            position: absolute;
            right: 0;
            top: 0;
            max-height: none;
            width: 45%;
        }

        &__item-tags {
            padding: 0;
        }
    }
}