.site-head {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    padding: clamp(1.8rem, 8vw, 2rem) 0;

    &__brand-image {
        height: clamp(1.8rem, 8vw, 2.5rem);
    }

    &__nav {
        display: none;
    }
}