.testimonial {
    max-width: 32ch;
    margin: 0 auto;
    font-size: $font-size-h-3;

    &__quote {
        text-indent: 4em;
        letter-spacing: -0.01em;
    }

    &__footer {
        margin-top: 4rem;
        font-size: clamp(.875rem, 2vw, 1rem);
    }
}