.testimonial {
    margin: 0 auto;
    font-size: $font-size-h-3;

    &__quote {
        text-indent: 3em;
        letter-spacing: -0.01em;
    }

    &__footer {
        margin-top: 2.5em;
        font-size: clamp(.875rem, 2vw, 1rem);
    }

    @include media-query('lg') {
        max-width: 845px;
        margin: 0 auto;
    }
}
