@import 'config';
@import '../../node_modules/gorko/gorko.scss';

@import 'reset';

@import '../../node_modules/@glidejs/glide/src/assets/sass/glide.core';

// Global styles start

$container-padding: clamp(20px, 6vw, 80px);

$font-size-h-1: clamp(2rem, 10vw, 5.5rem);
$font-size-h-2: clamp(1.75rem, 8.5vw, 3.5rem);
$font-size-h-3: clamp(1.5rem, 5vw, 2.5rem);

$font-size-body-s: clamp(0.75rem, 3vw, 0.875rem);
$font-size-body-m: 1rem;
$font-size-body-l: 1.5rem;
$font-size-body-m-l: clamp($font-size-body-m, 2.8vw, $font-size-body-l);

$logo-width: clamp(8rem, 20vw, 11.25rem);

@font-face {
  font-family: 'Euclid Circular';
  src: url('../fonts/euclidcircularb-regular-webfont.woff2') format('woff2'),
    url('../fonts/euclidcircularb-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Euclid Circular';
  src: url('../fonts/euclidcircularb-medium-webfont.woff2') format('woff2'),
    url('../fonts/euclidcircularb-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@media screen and (max-width: 1023px) {
  html,
  body {
    height: 100%;
    height: -webkit-fill-available;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: get-color('light-glare');
  color: get-color('dark');
  @include apply-utility('font', 'base');
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:not([class]) {
  color: currentColor;
}

:focus {
  outline: 2px solid get-color('primary');
}

main:focus {
  outline: none;
}

a:not(.no-decor) {
  position: relative;
  color: inherit;
  text-decoration: none;

  &::before {
    content: '';
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    height: 0.0625em;
    background: currentColor;
    transform: scaleX(1);
  }

  @media (hover: hover) {
    &::before {
      pointer-events: none;
      transform-origin: right;
      transition: transform 0.25s;
    }

    &:hover::before {
      transform-origin: left;
      transform: scaleX(0);
    }
  }
}

h1,
h2,
h3 {
  font-weight: 400;
  line-height: 1.15;
}

cite {
  display: block;
  font-style: normal;
}

::selection {
  color: get-color('light');
  background: rgba(get-color('dark'), 0.99);
}

svg {
  fill: currentColor;
  width: 100%;
  height: 100%;
}

// Import utilities
@import 'utilities/button-reset';
@import 'utilities/container';
@import 'utilities/no-wrap';
@import 'utilities/visually-hidden';

// Import blocks
@import 'blocks/author';
@import 'blocks/about';
@import 'blocks/footer';
@import 'blocks/glide';
@import 'blocks/hero';
@import 'blocks/nav';
@import 'blocks/section';
@import 'blocks/project';
@import 'blocks/projects-list';
@import 'blocks/services-list';
@import 'blocks/site-head';
@import 'blocks/tag';
@import 'blocks/tags-list';
@import 'blocks/team-member';
@import 'blocks/testimonial';

/* animations */
@keyframes fadeIn {
  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInVertically {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.js-enabled {
  .fade-in {
    opacity: 1;
    transform: translateY(1rem);
  }

  .fade-in.active {
    animation: fadeIn 0.9s 0.1s cubic-bezier(0.33, 1, 0.68, 1) forwards;
  }
}

@include media-query(lg) {
  .site-head {
    transform: translateY(-5rem);
    animation: slideInVertically 0.8s 0.2s cubic-bezier(0.33, 1, 0.68, 1) forwards;
  }

  .hero__title {
    transform: translateY(4rem);
    animation: slideInVertically 0.8s 0.2s cubic-bezier(0.33, 1, 0.68, 1) forwards;
  }

  .main {
    margin-bottom: 100vh;
  }

  .footer {
    position: fixed !important;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 0;
  }
}

.site-head {
  z-index: 3;
}

.hero {
  position: relative;
  z-index: 2;
}

.main {
  position: relative;
  z-index: 1;
  background: white;
}

.cursor-dot {
  display: none;
}

@media (hover: hover) {
  .cursor-dot {
    display: block;
    position: fixed;
    top: -1.5rem;
    left: -1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    z-index: 1;
    background: get-color(primary);
    border-radius: 50%;
  }
}

a,
button {
  z-index: 11;
}
