@import 'config';
@import '../../node_modules/gorko/gorko.scss';

@import 'reset';

@import '../../node_modules/@glidejs/glide/src/assets/sass/glide.core';

// Global styles start

$container-padding: clamp(20px, 6vw, 80px);

$font-size-h-1: clamp(2rem, 10vw, 5.5rem);
$font-size-h-2: clamp(1.75rem, 8.5vw, 3.5rem);
$font-size-h-3: clamp(1.5rem, 5vw, 2.5rem);

$font-size-body-s: clamp(.75rem, 3vw, .875rem);
$font-size-body-m: 1rem;
$font-size-body-l: 1.5rem;
$font-size-body-m-l: clamp($font-size-body-m, 2.8vw, $font-size-body-l);

$logo-width: clamp(8rem, 20vw, 11.25rem);


@font-face {
  font-family: 'Euclid Circular';
  src: url('../fonts/euclidcircularb-regular-webfont.woff2') format('woff2'),
    url('../fonts/euclidcircularb-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Euclid Circular';
  src: url('../fonts/euclidcircularb-medium-webfont.woff2') format('woff2'),
    url('../fonts/euclidcircularb-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

body {
  background: get-color('light');
  color: get-color('dark');
  @include apply-utility('font', 'base');
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:not([class]) {
  color: currentColor;
}

:focus {
  outline: 2px dashed get-color('primary');
  outline-offset: 0.25rem;
}

main:focus {
  outline: none;
}

h1,
h2,
h3 {
  font-weight: 400;
  line-height: 1.15;
}

cite {
  display: block;
  font-style: normal;
}

::selection {
  color: get-color('light');
  background: rgba(get-color('dark'), 0.99);
}

// Import utilities
@import 'utilities/button-reset';
@import 'utilities/container';
@import 'utilities/no-wrap';
@import 'utilities/visually-hidden';


// Import blocks
@import 'blocks/author';
@import 'blocks/about';
@import 'blocks/footer';
@import 'blocks/hero';
@import 'blocks/nav';
@import 'blocks/section';
@import 'blocks/project';
@import 'blocks/projects-list';
@import 'blocks/services-list';
@import 'blocks/site-head';
@import 'blocks/tag';
@import 'blocks/tags-list';
@import 'blocks/team-member';
@import 'blocks/testimonial';


